:root {
    --primary: #2d3436;
    --secondary: #636e72;
    --accent: #0984e3;
    --light: rgba(255, 255, 255, 0.85);
    --transition: 0.3s ease;
    --shadow: rgba(0, 0, 0, 0.5);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* border: 2px solid red; */
}

body {
    background: var(--primary);
    padding: 20px;
}


header {
    color: var(--light);
    text-align: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}

header ul {
    list-style: none;
    justify-content: center;
}

header ul li {
    display: inline;
    width: 10px;
    margin: 0 3% 0 3%;
}

header ul li a {
    text-decoration: none;
    color: var(--light);
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Первый блок */

.primary {
    color: black;
    background: white;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    position: inherit;
    margin-bottom: 30px;
}

.primary p {
    margin-top: 20px;
}

/* Второй блок */

.secondary {
    color: black;
    background: white;
    border-radius: 20px;
}

/* Категории */

.tabs {
    display: flex;
    background: rgb(231, 231, 231);
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    margin: 0;
}

.tab-btn {
    flex: 1;
    padding: 15px 20px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    color: var(--secondary);
    position: relative;
}

.tab-btn:hover {
    color: var(--accent);
}

.tab-btn.active {
    background: white;
    color: var(--accent);
}

.tab-btn.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;

    background: var(--accent);
}

/* "Закулисье" */
.tab-content {
    display: none;
    padding: 30px;
    background: white;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}


.tab-content.active {
    display: block;
}



/* Поисковик */
.searcher {
    margin: 20px 0;
    display: flex;
    gap: 10px;
}

.search-box {
    flex: 1;
    position: relative;
}

.search-box input {
    width: 100%;
    border: 2px solid var(--accent);
    padding: 12px 12px 12px 20px;
    height: 5vh;
    border-radius: 50px;
    font-size: 20px;
    outline: none;
}

/* Изображения */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
    margin-top: 20px;
}

.gallery-item {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0,0,0,0.5);
    height: 250px;
    position: relative;
    cursor: pointer;
    transition: all 0.6s ease;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.gallery-item::before {
    content: 'Посмотреть';
    padding: 5px;
    font-weight: 600;
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    height: 70%;
    color: var(--primary);
    background: rgba(255, 255, 255, 0.8);
    transform: translateY(-150%);
    transition: all 0.6s ease;
}

.gallery-item:hover::before {
    transform: translateY(80%);
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Модальные окна */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    align-items: center;
    justify-content: center;
}

.modal-content {
    max-width: 90%;
    max-height: 90%;
    background: var(--light);
}

.modal-content img {
    max-width: 100%;
    min-height: 100vh;
    border-radius: 5px;
    box-shadow: 0 5px 25px var(--shadow);
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    color: var(--primary);
    background: var(--light);
    box-shadow: var(--shadow);
    border-radius: 50%;
    font-size: 40px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.close-btn:hover {
    transform: translateY(-5px);
}

.image-info {
    color: white;
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
}

footer {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    color: white;
    font-size: 20px;
}

/* "Добавить мем" */
.add-meme-form {
    background: var(--light);
    padding: 25px;
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.form-group {
    margin-bottom: 20px
}

.form-group label {
    margin-bottom: 8px;
    font-weight: 600;
    color: var(--primary);
}


.form-group input,
.form-group select,
.form-group textarea {
    border-color: var(--accent);
    box-shadow: var(--shadow);
    outline: none;
}

.submit-btn {
    background: var(--accent);
    color: white;
    border: none;
    padding: 12px 25px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.6s ease;
    margin: 20px auto 0;
    font-weight: 600;
}

.submit-btn:hover {
    transform: scale(1.3);
    box-shadow: var(--shadow);
}

.submit-btn:active {
    transform: scale(1);
}

.mod-warn {
    background: #fff3cd;
    border-left: 3px solid #ffc107;
    padding: 15px;
    margin-top: 20px;
    font-size: 14px;
}

.notif {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px 25px;
    background: #4caf50;
    color: var(--light);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3);
    z-index: 2000;
    transform: translateX(200%);
    transition: all 0.3 ease;
}

.notif.show {
    transform: translateX(0);
}

.notif.error {
    background: #f44336;
}

/* Адаптивность */
@media (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }

    .gallery-item {
        height: 200px;
        width: 200px;
    }

    h1 {
        font-size: 32px;
    }
}

@media (max-width: 480px) {
    .gallery {
        grid-template-columns: 16px;
    }

    .tabs {
        flex-direction: column;
    }

    .tab-btn {
        min-width: 100%;
    }
}